body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
.s {
    font-size: 8pt;
}
.red {
    color: #FF0000;
}
.green {
    color: #00FF00;
}
.b {
    font-weight: bold;
}
.mono {
    font-family: monospace;
}
#id_ontologyName, #id_sparqlQuery {
    width: 100%;
}
#topOld {
    background-color: #eeeeee;
    padding: 20pt;
}
#submitButton {
    /* padding: 10pt; */
    /* font-size: 14pt; */
    width: 10em;
    float: right;
}
#map { height: 500px; } /* 390px; */
.node {
    color: #666666; /* stroke: #fff; */
    stroke-width: 0px; /* 1.5px; */
}
.node text {
    pointer-events: none;
    font: 10px sans-serif;
    color: #666666 !important;
}
.link {
    stroke: #999;
    stroke-opacity: 0.6;
}
#sparqlHeader {
    margin-top: 0 !important;
}